<html>

<head>
  <link rel='stylesheet' href='{{ assetUrl "css/bootstrap.min.css" }}'>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="{{ urlFor "home" }}">Home</a></li>
      <li><a href="{{ urlFor "list_templates" }}">List Templates</a></li>
      <li><a href="{{ urlFor "get_new_template" }}">New Template</a></li>
    </ul>
  </nav>

</body>

</html>